body {
    overflow-x: hidden;
    /* background: linear-gradient(90deg, hsla(0, 100%, 99%, 1) 0%, hsla(0, 0%, 9%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 100%, 99%, 1) 0%, hsla(0, 0%, 9%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 100%, 99%, 1) 0%, hsla(0, 0%, 9%, 1) 100%); */
    background-color: #FFFAFA !important;
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFFAFA", endColorstr="#161616", GradientType=1); */
}

.bg-footer {
    background-color: #FFFAFA !important;
}

.bg-dark {
    background: black !important;
}

.bg-light-pink {
    background: #FFF3FE;
}

nav {
    /* background: hsla(0, 100%, 99%, 1);
    background: -moz-linear-gradient(90deg, hsla(0, 100%, 99%, 1) 0%, hsla(0, 0%, 9%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 100%, 99%, 1) 0%, hsla(0, 0%, 9%, 1) 100%); */
    background: #FFFAFA !important;
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFFAFA", endColorstr="#161616", GradientType=1); */
}

.fs-50 {
    font-size: 50px;
}

.font-family-primary {
    font-family: Tiempos Headline, serif;
}

.btn-lg-hover:hover {
    --tw-bg-opacity: 1;
    /* background-color: rgb(103 41 95 / var(--tw-bg-opacity)); */
    --tw-text-opacity: 1;
    color: rgb(0, 0, 0) !important;
}

.text-color-primary-dark {
    color: rgb(34, 31, 34);
}

.text-color-primary {
    color: rgb(103 41 95);
}

.item:hover {
    color: rgb(103 41 95) !important;
    cursor: pointer;
}
.image-circuler{
    border-radius:50%;height: 400px;width: 400px;object-fit: cover;
}

.text-color-secondary {
    color: rgb(72 72 72 / 69%);
}

.text-color-secondary-dark {
    color: rgb(1, 1, 1);
}

.br-12 {
    border-radius: 12px;
}

.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav-item {
    font-family: Tiempos Headline, serif;
    letter-spacing: 0;
    line-height: 1.1;
    border-bottom: 2px solid hsla(0, 0%, 82%, .2);
}

.menu-overlay ul {
    list-style: none;
    padding: 0;
}

.menu-overlay li {
    margin-bottom: 20px;
}

.menu-overlay a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.btn--small {
    background: hsla(0, 100%, 99%, 1);

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.5s ease;
    border: 2px solid rgb(0, 0, 0) !important;
}

.btn--small:hover {
    background: transparent;
    border: 2px solid rgb(0, 0, 0) !important;
    /* color: rgb(0, 0, 0) !important; */
    transition: all 0.5s ease;
    scale: 1.05;
}

.close-btn {
    /* position: absolute;
    top: 15px;
    right: 30px; */
    color: white;
    font-size: 20px;
    cursor: pointer;
    /* z-index: 1; */
}

.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-13 19:9:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.footer-wrapper {
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.2);
}

.image-container>div {
    width: 300px;
    height: 429.594px;
}

/* .image-container :nth-child(1) {
    width: 300px;
    height: 429.594px;
}

.image-container :nth-child(2) {
    width: 300px;
    height: 453.846px;
}

.image-container :nth-child(3) {
    width: 300px;
    height: 411.777px;
} */

.bltblb-12 {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.brtbrb-12 {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (max-width: 767px) {
    .bltblb-12 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
    }
    .image-circuler{
        height: 250px;width: 250px;
    }
    .fs-50 {
        font-size: 27px;
    }
    .brtbrb-12 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .border-bottom-primary {
        border-bottom: 2px solid hsla(0, 0%, 82%, .2);
    }

    .image-container>div {
        width: 200px;
        height: 214.396px;
    }

    /* .image-container :nth-child(1) {
        width: 200px;
        height: 214.396px;
    }

    .image-container :nth-child(2) {
        width: 200px;
        height: 232.564px;
    }

    .image-container :nth-child(3) {
        width: 200px;
        height: 203.396px;
    } */
}

@media(min-width:768px) {
    .h-md-500 {
        height: 500px;
    }
}